
<% content_for :body_class, "account-bg" %>

<%= render "layouts/header" %>

<div class="content">

  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="account-body">
          <h3><a href="/sites" style="color: #50687A;">Sitios Web</a></h3>
          <br />

          <table class="table keyvalue-table">
            <tbody>
            <% if @sites.empty? %>
              <div style="text-align: center; color: #dddddd;" class="">
                <span style="font-size: 72px" class="fa-stack">
                  <i class="fa fa-cloud fa-stack-2x"></i>
                  <i style="color: #ffffff;" class="fa fa-bolt fa-stack-1x"></i>
                </span>
                <h3>A&uacute;n ninguno</h3>
              </div>
            <% end %>
            <% @sites.each do |site| %>
            <tr>
              <td class="kv-key">
                <%= link_to site.url, site %><br />
                <%= site.public_description %>
              </td>
              <td class="kv-value">
                <%= link_to 'Suscribir', site_tester_participations_path(site), {:method => :post, :class => 'btn btn-xs btn-secondary'} %>
              </td>
            </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="account-body">
          <h3><a href="/pentesters" style="color: #50687A;">Ranking Pentesters</a></h3>
          <br />

          <table class="table keyvalue-table">
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="kv-key">
                  <img src="<%= user.image %>" class="navbar-profile-avatar" alt="">
                  <%= user.name %>
                </td>
                <td class="kv-value"><%= user.score %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="account-body">
          <h3><a href="/activity" style="color: #50687A;">Actividad</a></h3>

          <br />

          <% @activities_per_day.each do |date, activities_group| %>
            <h4 class="content-title">
              <u><%= time_ago_in_words(date).capitalize %></u>
            </h4>

            <ul class="icons-list">
              <% activities_group.each do |activity| %>
                <li>
                  <%= ActivityPresenter.new(activity, self).render_activity %>
                </li>
              <% end %>
            </ul>
            <br>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
