<%= form_for([@site, @vulnerability]) do |f| %>
  <% if @vulnerability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vulnerability.errors.count, "error") %> prohibited this vulnerability from being saved:</h2>

      <ul>
      <% @vulnerability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select :category, options_for_select(vulnerability_categories), {}, { class: 'form-control parsley-validated' } %>
  </div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control parsley-validated' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control parsley-validated' %>
  </div>
  <div class="form-group">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment, class: 'form-control parsley-validated' %>
  </div>
  <div class="site-actions">
    <%= f.submit 'Reportar Vulnerabilidad', class: 'btn btn-md btn-danger' %>
  </div>
<% end %>
