
<% content_for :body_class, "stormhack-sites-index" %>

<div class="content">

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-sm-5">
        <div class="portlet">
          <h4 class="portlet-title">
            <u>1. Edita tu sitio</u>
          </h4>
          <div class="portlet-body">
            <%= render 'form' %>
          </div> <!-- /.portlet-body -->
        </div> <!-- /.portlet -->
      </div>


      <div class="col-md-8 col-sm-7">
        <div class="portlet">
          <h4 class="portlet-title">
            <u>2. Verifica tu Sitio</u>
          </h4>


          <div class="miniportlet">
            <br />
            <p>Necesitamos comprobar que tienes el control de este sitio.</p>
            <p>Para ello, copia este c&oacute;digo en la cabecera HTML de tu web, y haz click en "verificar"</p>
            <br />
<pre>
&lt;meta name="stormhack-validation" content="<%= @site.verification_code %>" /&gt;
</pre>
            <br />
            <hr />

            <div class="site-actions">
              <div id="site-status" style="float: left;">
                <big id="verified" class='<%= "hide" if @site.created? %>' style="color: #7cb268;">
                  &nbsp;&nbsp;
                  <i class="fa fa-check"></i>&nbsp;
                  <b>Sitio verificado</b>
                </big>
                <big id="not-verified" class='<%= "hide" unless @site.created? %>'  style="color: #d9534f;">
                  &nbsp;&nbsp;
                  <i class="fa fa-times"></i>&nbsp;
                  <b>Sitio no verificado</b>
                </big>
              </div>
              <div class="<%= "hide" unless @site.created? %>">
                <%= link_to "Verificar", verify_code_site_path(@site), class: 'btn btn-md btn-primary', remote: true %>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>

        <div class="site-actions">
          <%= link_to 'Volver al listado', sites_path, :class => 'btn btn-md btn-secondary action-header' %>
        </div>
      </div>
    </div>
</div>

