
<%= render "layouts/header" %>

<% content_for :body_class, "stormhack-sites-index" %>

<div class="content">

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-sm-5">
        <div class="portlet">
          <h4 class="portlet-title">
            <u>Sitios a los que estas suscrito</u>
          </h4>
          <div class="portlet-body">

            <div class="miniportlet">
              <div style="background-image: url(/uploads/site/screenshot/1/facebook.png);" class="image-header"></div>
              <table class="table">
                <tbody>
                <tr>
                  <td class="kv-key">
                    <a target="_blank" href="http://www.facebook.com">www.facebook.com</a><br />
                    ENCUENTRA SQL, XSS o CSRF
                  </td>
                  <td class="kv-value">
                    <a class="btn btn-xs btn-secondary">Suscribir</a>
                  </td>
                </tr>
              </table>
            </div>

            <div class="miniportlet">
              <div style="background-image: url(/uploads/site/screenshot/1/facebook.png);" class="image-header"></div>
              <table class="table">
                <tbody>
                <tr>
                  <td class="kv-key">
                    <a target="_blank" href="http://www.facebook.com">www.facebook.com</a><br />
                    ENCUENTRA SQL, XSS o CSRF
                  </td>
                  <td class="kv-value">
                    <a class="btn btn-xs btn-secondary">Suscribir</a>
                  </td>
                </tr>
              </table>
            </div>

          </div> <!-- /.portlet-body -->
        </div> <!-- /.portlet -->
      </div>


      <div class="col-md-8 col-sm-7">
        <div class="portlet">
          <h4 class="portlet-title">
            <u>Otros Sitios</u>

            <%= link_to 'Crear sitio', new_site_path, :class => 'btn btn-sm btn-primary action-header' %>
          </h4>


          <div class="miniportlet">
            <table class="table">
              <tbody>
              <% @sites.each do |site| %>
                <tr>
                  <td class="kv-key">
                    <div>
                      <%= link_to site.url, site %>
                      <br />
                      <div class="paragraph site-description">
                      <%= site.public_description %>
                    </div>
                    </div>
                    <br />
                    <div>
                      <a class="btn btn-xs btn-secondary">Suscribir</a>

                      <%= link_to 'Editar', edit_site_path(site), {:class => 'btn btn-xs btn-primary btn-padded-left'} %>
                      <%= link_to 'Borrar', site, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>

                    </div>
                  </td>
                  <td class="kv-value">
                    <div style="float: right; width: 180px; background-image: url(<%= site.screenshot %>);" class="image-header"></div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
</div>
