
<%= render "layouts/header" %>

<% content_for :body_class, "stormhack-sites-index" %>

<div class="content">

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-sm-5">
        <div class="portlet">
          <h4 class="portlet-title">
            <u>Sitios con los que colaboras</u>
          </h4>
          <div class="portlet-body">
            <% if @my_sites.empty? %>
              <div style="text-align: center; color: #dddddd;" class="">
                <span style="font-size: 72px" class="fa-stack">
                  <i style="color: #ffffff;" class="fa fa-cloud fa-stack-2x"></i>
                  <i class="fa fa-bolt fa-stack-1x"></i>
                </span>
                <h3>De momento nada</h3>
              </div>
            <% end %>
            <% @my_sites.each do |site| %>
              <div class="miniportlet">
                <div style="background-image: url(<%= site.screenshot %>);" class="image-header"></div>
                <table class="table">
                  <tbody>
                  <tr>
                    <td class="kv-key">
                      <%= link_to site.url, site %><br />
                      <%= site.public_description %>
                    </td>
                    <td class="kv-value">
                      <%= render "sites/subscribe", site: site, size: 'btn-xs', style: 'float: right; margin-right: 4px;' %>
                    </td>
                  </tr>
                </table>
              </div>
            <% end %>
          </div> <!-- /.portlet-body -->
        </div> <!-- /.portlet -->
      </div>


      <div class="col-md-8 col-sm-7">
        <div class="portlet">
          <h4 class="portlet-title">
            <u>Todos los Sitios</u>
            <%= link_to 'Crear sitio', new_site_path, :class => 'btn btn-sm btn-primary action-header' %>
          </h4>


          <div class="miniportlet">
            <table class="table">
              <tbody>
              <% if @sites.empty? %>
                <div style="text-align: center; color: #dddddd;" class="">
                  <span style="font-size: 72px" class="fa-stack">
                    <i class="fa fa-cloud fa-stack-2x"></i>
                    <i style="color: #ffffff;" class="fa fa-bolt fa-stack-1x"></i>
                  </span>
                  <h3>A&uacute;n ninguno</h3>
                </div>
              <% end %>
              <% @sites.each do |site| %>
                <tr>
                  <td class="kv-key">
                    <div>
                      <%= link_to site.url, site %>
                      <br />
                      <div class="paragraph site-description">
                      <%= site.public_description %>
                    </div>
                    </div>
                    <br />
                    <div>
                      <%= render "sites/subscribe", site: site, size: 'btn-xs', style: '' %>

                      <%= link_to 'Editar', edit_site_path(site), {:class => 'btn btn-xs btn-primary btn-padded-left'} %>
                      <%= link_to 'Borrar', site, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>

                    </div>
                  </td>
                  <td class="kv-value">
                    <div style="float: right; width: 180px; background-image: url(<%= image_path site.screenshot %>);" class="image-header"></div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
</div>
