
<%= render "layouts/header" %>

<% content_for :body_class, "stormhack-sites-index" %>

<div class="content">
  <div class="container">
    <h3 class="content-title">
      <u>Sitio: <%= link_to @site.url, @site, :style => 'color: #444' %></u>
      <a href="<%= @site.url %>" target="_blank" style="float: right;" class="btn btn-md btn-primary">Acceder al sitio</a>

      <%= render "sites/subscribe", site: @site, size: 'btn-md', style: 'float: right; margin-right: 4px;' %>

    </h3>

    <div class="row">
      <div class="col-sm-5 col-md-6">
        <div class="portlet portlet-boxed">
          <div style="position: relative; background-image: url(<%= @site.screenshot %>);" class="image-header">
            <div style="position: absolute; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); height: 100px; width: 100%;">
            </div>
          </div>
          <div class="portlet-body">
            <h4 class="content-title"><u>Informaci&oacute;n p&uacute;blica: </u></h4>
<pre>
<%= @site.public_description %>
</pre>
          </div>
          <div class="portlet-body">
            <h4 class="content-title"><u><i class="icon-li fa fa-lock"></i>&nbsp; Informaci&oacute;n privada: </u></h4>
<pre>
<%= @site.private_description %>
</pre>
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-md-6">
        <div class="portlet portlet-boxed">
          <div class="portlet-body">
            <h4 class="content-title">
              <u>Vulnerabilidades reportadas:</u>
              <% if @site.is_suscribed? current_user %>
                <%= link_to 'Reportar Vulnerabilidad', new_site_vulnerability_path(@site), :class => 'btn btn-xs btn-danger', :style => 'float: right' %>
              <% end %>
            </h4>
            <% if @site.vulnerabilities.empty? %>
              <div style="text-align: center; color: #dddddd;" class="">
                <span style="font-size: 72px" class="fa-stack">
                  <i class="fa fa-cloud fa-stack-2x"></i>
                  <i style="color: #ffffff;" class="fa fa-bolt fa-stack-1x"></i>
                </span>
                <h3>Ninguna vulnerabilidad a&uacute;n</h3>
              </div>
            <% end %>
            <% @site.vulnerabilities.each do |vulnerability| %>
              <div class="row">
                <div class="col-md-1">
                  <img src="<%= vulnerability.user.image %>" class="navbar-profile-avatar" alt="">
                </div>
                <div class="col-md-8">
                  <b><%= vulnerability.title %></b>
                  <div style="font-size: 10px; color: #999;">
                    <%= vulnerability.category %>
                  </div>
                  <div>
                    <%= vulnerability.description %>
                  </div>
                </div>
                <div class="col-md-3">

                    <% if vulnerability.status == 'created' || vulnerability.status == 'approved' %>
                      <a href="javascript:;" style="float: right;" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <i class="fa fa-bars"></i>
                        <i class="mainnav-caret"></i>
                      </a>
                    <% end %>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <% if vulnerability.status == 'created' %>
                        <li class="hover-secondary">
                          <%= link_to approve_site_vulnerability_path(@site, vulnerability), {:method => :put } do  %>
                            <i class="fa fa-check"></i>&nbsp; Aprobar
                          <% end %>
                        </li>
                      <% end %>
                      <% if vulnerability.status == 'created' %>
                        <li class="hover-danger">
                          <%= link_to reject_site_vulnerability_path(@site, vulnerability), {:method => :put } do  %>
                            <i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp;Rechazar
                          <% end %>
                        </li>
                      <% end %>
                      <% if vulnerability.status == 'approved' %>
                        <li class="hover-primary">
                          <%= link_to publish_site_vulnerability_path(@site, vulnerability), {:method => :put } do  %>
                            <i class="fa fa-globe"></i>&nbsp; &nbsp;&nbsp;¡Publicar!
                          <% end %>
                        </li>
                      <% end %>
                    </ul>

                    <div style="float: right; font-size: 20px; padding: 2px 8px;">
                      <% case vulnerability.status 
                           when 'created' %>
                           <i class="fa fa-question text-default"></i>
                        <% when 'approved' %>
                           <i class="fa fa-check text-primary"></i>
                        <% when 'rejected' %>
                           <i class="fa fa-times text-danger"></i>
                        <% when 'published' %>
                           <i class="fa fa-check text-secondary"></i>
                      <% end %>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% if @site.user == current_user %>
          <div class="portlet portlet-boxed">
            <div class="portlet-body">
              <h4 class="content-title"><u><i class="fa fa-shield text-secondary"></i>&nbsp; Auditores:</u></h4>
              <ul>
                <% if @site.auditors.empty? %>
                  <div style="text-align: center; color: #dddddd;" class="">
                    <span style="font-size: 72px" class="fa-stack">
                      <i style="color: #f2f2f2;" class="fa fa-cloud fa-stack-2x"></i>
                      <i class="fa fa-bolt fa-stack-1x"></i>
                    </span>
                    <h3>Ninguno</h3>
                  </div>
                <% end %>
                <% @site.auditors.each do |auditor| %> 
                  <table class="table keyvalue-table">
                    <tbody>
                      <tr>
                        <td class="kv-key">
                          <img src="<%= auditor.image %>" class="navbar-profile-avatar" alt="">
                          <%= auditor.name %>
                        </td>
                        <td class="kv-value">
                          <a class="btn btn-secondary btn-sm" href="mailto:<%= auditor.email %>">Send Email</a>
                          &nbsp;
                          <a class="btn btn-danger btn-sm" href="javascript:;"><i class="fa fa-trash-o"></i></a>
                        </td>
                      </tr>
                  </table>
                <% end -%>
              </ul>

              <div class="well">
                <h4>Nuevo Auditor</h4>
                <%= form_for [@site, @site.auditor_participations.build] do |f| -%>
                  <div class="form-group">
                    <%= f.text_field :email, :placeholder => "Email del colaborador", class: 'form-control parsley-validated' %>
                  </div>
                  <div class="site-actions">
                    <%= f.submit 'Añadir Auditor', class: 'btn btn-md btn-primary' %>
                  </div>
                <% end -%>
              </div>


            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
