<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

  <strong>Screenshot:</strong>
  <%= image_tag @site.screenshot %>
</p>

<p>
  <strong>User:</strong>
  <%= @site.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @site.status %>
</p>

<% if @site.user == current_user %>
  <h4>Auditors</h4>
  <ul>
    <% @site.auditors.each do |auditor| %> 
      <li><%= auditor %></li>
    <% end -%>
  </ul>

  <h4>Add Auditor</h4>
  <%= form_for [@site, @site.auditor_participations.build] do |f| -%>
    <%= f.text_area :email %>
    <%= f.submit  %>
  <% end -%>
<% end -%>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
